.nav{
    border: 1px solid gray;
    width: 100%;
    height: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 9999;
    background-color: #111;
}
.NavLink{
    border: 1px solid grren;
    color: aliceblue;
    text-decoration: none;
    padding: 10px;
    font-weight: 400;
}